.footer {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  padding: 40px 0 30px;
  font-size: 1rem;
}

.footerLogo {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}
